<div class="padding-box small only-vertical">
  <div class="columns is-mobile now-playing-widget">
    <div class="column">
      <div class="as-image album-cover"></div>
    </div>
    <div class="column is-flex is-three-fifths">
      <div class="flex-centerized has-text-centered-mobile">
        <span class="subtitle is-5 has-text-white">Insurgency</span>
        <br/>
        <span class="is-size-6">Some artist</span>
      </div>
    </div>
  </div>
</div>

<div class="padding-box small only-vertical is-flex join-button">
  <a class="button is-primary is-outlined" routerLink='/enter'>
    <span class="is-uppercase">join</span>
  </a>
</div>