.header {
    width: 100%;
    height: 10rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), black);
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: white;
    }
}
