/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@import 'src/assets/normalizer.css';
@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$family-sans-serif: 'Open Sans', sans-serif;
$primary: $neon-green;
$font-size-mobile: 14px;
$body-background-color: $background;
$body-size: 14px;

@import 'node_modules/bulma/bulma.sass';

.padding-box {
    padding: 2rem 3rem;
    &.small {
        padding: 1rem 1.5rem;
    }
    &.only-vertical {
        padding-left: 0;
        padding-right: 0;
    }
    &.only-horizontal {
        padding-top: 0;
        padding-bottom: 0;
    }
}
